.wishList {
  display: grid;
  grid-template-columns: repeat(4, 1fr); // Desktop default
  padding: 20px;
  gap: 20px;

  > div {
    cursor: pointer;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s;
    margin-bottom: 20px;

    &:hover {
      transform: scale(1.05);
    }

    img {
      width: 100%;
      height: 250px;
      object-fit: cover;
    }

    .favIcon {
      position: absolute;
      top: 5px;
      right: 5px;
      border-radius: 50%;
      padding: 4px;
      transition: background-color 0.3s ease;
    }

    .plpBottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px;
      background-color: #004d40;

      .name-price {
        .productTitle {
          font-size: 1.2em;
          font-weight: bold;
          margin-bottom: 10px;
          color: #fff;
        }

        .productPrice {
          font-size: 1em;
          color: #fff;
        }
      }

      .cartIcon {
        position: relative;
        background-color: gold;
        color: white;
        border-radius: 50%;
        text-align: center;
        width: 40px;
        height: 40px;
        :first-of-type {
          transform: translate(0%, 20%);
        }
      }
    }

    .imageWrapper {
      position: relative;

      .crossBtn {
        position: absolute;
        top: 0;
        right: 0;
      }
    }
  }

  @media (max-width: 1200px) {
    grid-template-columns: repeat(3, 1fr); // Large tablets
  }

  @media (max-width: 992px) {
    grid-template-columns: repeat(2, 1fr); // Tablets
  }

  @media (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr); // Smaller tablets or landscape phones
    padding: 10px;

    > div {
      margin-bottom: 15px;

      img {
        height: 200px; // Adjust image height for smaller screens
      }
    }
  }

  @media (max-width: 480px) {
    grid-template-columns: 1fr; // Mobile screens
    padding: 5px;

    > div {
      margin-bottom: 10px;

      img {
        height: 150px; // Further adjust image height for mobile
      }
    }
  }
}
